html
  head
    title Header
    
  body
    header
      nav
        ul
          li: a(href='/home') Home
          li: a(href='/gallery') Gallery
          li: a(href='/notif') Notifications
          li: a(href='/logout') Log Out
    block content
