extends header

block content
    h2 Home Page
    br
    p Username: #{user.username}
    span Account Type: #{user.type}
    button(type="button", onclick="location.href='/change'") Change Account Type
    br
    a(href='/followed') Followed Artists
    br
    a(href='/liked') Liked Artworks
    br
    a(href='/reviews') Reviewed Artworks
    br
    if user.type == 'artist'
        button(type="button", onclick="location.href='/addArtwork'") Add Artwork
        br
        button(type="button", onclick="location.href='/addWorkshop'") Add Workshop
