html
    head
        title Index
		
body
    h2 Welcome to the Art Gallery
    br
    button(type="button", onclick="location.href='/create'") Create New Account
    button(type="button", onclick="location.href='/login'") Log Into Account 
